<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>GrandPy</title>
</head>
<body>
    <form id="form">
        <input type="text" id="livebox">
        <input type="submit">
    </form>

    <p>
        <div id="result_query">La requête</div>
        <div id="result_name">La réponse</div>
        <div id="result_address">L'adresse</div>
        <div id="result_wiki">L'info Wiki</div>
    </p>

<script>
$(document).ready(function(){
            
            $("#form").submit(function(e){
        
                e.preventDefault()
        
                textinlivebox = $("#livebox").val();
        
                $.ajax({
                    method:"post",
                    url:"/livesearch",
                    data:{text:textinlivebox},
                    success: function(res){
                        response(res);
                    }
                })
            });
        
        })
        
        function response(res) {
            $("#result_query").html("votre question : ", res["query"]);
            $("#result_name").html(res["ginfos"]["name"]);
            $("#result_address").html(res["ginfos"]["formatted_address"]);
            $("#result_wiki").html(res["wtext"]);
        }
</script>

</body>
</html>