@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', serif;
    font-size: 25px;
    display: flex;
    margin: 0;
}

.logo img {
    width: 120px;
}